<ng-template #create let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Post</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="modal.close(); post.title=''">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Title of Post</label>
        <div class="input-group">
          <input id="title"
                 class="form-control"
                 placeholder="Title"
                 name="title"
                 [(ngModel)]="post.title">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(); createPost(post.title); post.title='' ">Save</button>
  </div>
</ng-template>
<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-titleE">Edit Post</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="modal.close(); post.title=''">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="titleE">Title of Post</label>
        <div class="input-group">
          <input id="titleE"
                 class="form-control"
                 placeholder="Title"
                 name="title"
                 [(ngModel)]="post.title">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(); editPost(); post.title='' ">Save</button>
  </div>
</ng-template>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" (click)="openCreate(create)">Create Post</button>
      <label style="margin-top: 9px">
        <input  placeholder="Search" [(ngModel)]="searchTitle" />
      </label>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" style="width: 5%">Id</th>
          <th scope="col">Title</th>
          <th scope="col" style="width: 17%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | filter:searchTitle">
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>
            <button type="button" class="btn btn-outline-dark" (click)="openEdit(edit, post)">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="deletePost(post)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
